.poster img {
    width: 120px;
    float: left;
    margin-right: 25px;
}

.showInfo p:first-child {
    font-size: 25px;
    font-weight: bold;
}

.unavailable {
    filter: grayscale(100%);
}

.favorites a, .favorites a:hover {
    text-decoration: none;
    color: #636b6f;
}

.fa-heart, .fa-heart-o:hover, .fa-meh-o, .fa-smile-o {
    color: #dc458f;
}

.fa-heart:hover {
    color: #636b6f;
}

.fa-ban {
    color: #d83333;
}

.fa-star {
    color: #ffb500;
}

.fa-frown-o, .fa-meh-o, .fa-smile-o {
    font-size: 15px;
}

.star {
    display: inline-block;
    padding: 0 2px;
    font-size: 15px;
    color: #ABABAB;
    transition: color .2s ease-out;
}

.star:hover {
    cursor: pointer;
    color: #FFD700;
}

.is-selected {
    color: #FFD700;
}

.radioStar {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.disabledStar {
    pointer-events: none;
    cursor: default;
}

.episodeDetail img {
    width: 200px;
    height: 112px;
    object-fit: cover;
}

.episodeDetail div:nth-child(2) {
    text-align: justify;
}

.np {
    padding: 0 !important;
}

.VueStar {
    position: absolute;
    bottom: -55px;
    left: -28px;
}