
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
$pink: #dc458f;
$light-pink:#c56393;
$gray: #636b6f;
$purple: #a053e3;
$light-purple: #bba6ce;
$white: #fff;
$small-screen: 485px;
$medium-screen: 760px;
$mobile-screen: 768px;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    color: $brand-primary;
    background-color: $white;
}

a {
    color: $light-pink;

    &:hover {
        color: $pink;
        text-decoration: none;
    }
}

h3 {
    margin-top: 15px;
}

small {
    color: $brand-primary !important;
}

.nav-pills > li.active > a {
    background-color: $brand-primary;
    
    &:hover, &:focus {
        background-color: $brand-primary;
    }
}

.panel-default > .panel-heading {
    color: $brand-primary;
}

.poster img, 
.profile img {
    width: 120px;
    float: left;
    margin-right: 25px;
}

.showInfo {
    text-align: justify;
    p:first-child {
        font-size: 25px;
        font-weight: bold;
    }
}

.unavailable {
    filter: grayscale(100%);
}

.favorites a, .favorites a:hover {
    text-decoration: none;
    color: $brand-primary;
}

.fa-heart, .fa-heart-o:hover, .fa-meh-o, .fa-smile-o {
    color: $pink;
}

.fa-heart:hover {
    color: $brand-primary;
}

.fa-ban {
    color: #d83333;
}

.fa-star {
    color: #ffb500;
}

.fa-frown-o, .fa-meh-o, .fa-smile-o {
    font-size: 15px;
}

.star {
    display: inline-block;
    padding: 0 2px;
    font-size: 15px;
    color: #ABABAB;
    transition: color .2s ease-out;

    &:hover {
        cursor: pointer;
        color: #FFD700;
    }
}

.is-selected {
    color: #FFD700;
}

.radioStar {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.disabledStar {
    pointer-events: none;
    cursor: default;
}

.episodeDetail {
    img {
        width: 200px;
        height: 112px;
        object-fit: cover;
    }

    div:nth-child(2) {
        text-align: justify;
    }
}

.np {
    padding: 0 !important;
}

.np-l {
    padding-left: 0 !important;
}

.np-r {
    padding-right: 0 !important;
}

.mt-20 {
    margin-top: 20px;
}

.modal-title {
    display: inline-block;
}

/* COMMENTS SECTION */
.text-right { 
    text-align: right;
}

.comments-app {
    margin: 50px auto;
    padding: 0 50px;
    width: 100%;

    h1 {
        color: #191919;
        margin-bottom: 1.5em;
        text-align: center;
        text-shadow: 0 0 2px rgba(152, 152, 152, 1);
    }
}

.comment-v{
  margin-top : 5px;
}
.comment-form {
    .form {
        margin-left: 100px;

        .form-row {
            margin-bottom: 10px;

            &:last-child { 
                margin-bottom: 0; 
            }
        }

        .input {
            background-color: #fcfcfc;
            border: none;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
            color: #555f77;
            font-family: inherit;
            font-size: 14px;
            padding: 5px 10px;
            outline: none;
            width: 100%;

            -webkit-transition: 350ms box-shadow;
            -moz-transition: 350ms box-shadow;
            -ms-transition: 350ms box-shadow;
            -o-transition: 350ms box-shadow;
            transition: 350ms box-shadow;

            &:focus {
                box-shadow: 0 2px 6px rgba(121, 137, 148, .55);
            }
        }

        textarea.input {
            height: 100px;
            padding: 15px;
        }

        label {
            color: #555f77;
            font-family: inherit;
            font-size: 14px;
        }

        input[type=submit] {
            background-color: #555f77;
            border: none;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
            color: #fff;
            cursor: pointer;
            display: block;
            margin-left: auto;
            outline: none;
            padding: 6px 15px;

            -webkit-transition: 350ms box-shadow;
            -moz-transition: 350ms box-shadow;
            -ms-transition: 350ms box-shadow;
            -o-transition: 350ms box-shadow;
            transition: 350ms box-shadow;

            &:focus, &:hover {
                box-shadow: 0 2px 6px rgba(121, 137, 148, .55);
            }
        }
    }
}

.comment-form,
.comment {
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-form .comment-avatar,
.comment .comment-avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 80px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}

.comment-form .comment-avatar img,
.comment .comment-avatar img{
  display: block;
  height: auto;
  width: 100%;
}

.comment {
    .comment-box{
        background-color: #fcfcfc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
        margin-left: 100px;
        min-height: 60px;
        position: relative;
        padding: 15px;

        &:after, &:before {
            border-width: 10px 10px 10px 0;
            border-style: solid;
            border-color: transparent #FCFCFC;
            content: '';
            left: -10px;
            position: absolute;
            top: 20px;
        }

        &:before {
            border-color: transparent rgba(0, 0, 0, .05);
            top: 22px;
        }
    }

    .comment-text{
        color: #000;
        font-size: 15px;
        margin-bottom: 25px;
    }

    .comment-info {
        float: left;
        width: 85%;
    }

    .comment-date {
        &:before {
            content: '|';
            margin: 0 10px;
        }
    }

    .comment-footer{
        color: #000;
        font-size: 13px;

        &:after{
            content: '';
            display: table;
            clear: both;
        }

        a {
            color: #555f77;
            text-decoration: none;
            -webkit-transition: 350ms color;
            -moz-transition: 350ms color;
            -ms-transition: 350ms color;
            -o-transition: 350ms color;
            transition: 350ms color;

            &:hover{
                color: #555f77;
                text-decoration: underline;
            }
        }
    }      
}

.comment-actions {
  float: left;
  text-align: right;
}

.reply {
    margin-top: 5px;
    margin-left: 60px;
}

.list {
    list-style: none;
    list-style-type: none;
    display: inline !important;
}

ul {
    padding: 0 !important;

    li {
        display: inline-block;
    }
}

.comment-actions ul li {
  cursor: pointer;
}

h4 {
  font-weight: bold;
}

.favoritesSlider {
    overflow: scroll;
    height: 160px;
    padding: 0 8px;

    div {
        display: inline-block;
        margin: 10px;
        @media screen and (max-width: $small-screen) {
            margin: 5px;
        }

        img {
            width: 100px;
            height: 150px;
            border-radius: 5px;

            @media screen and (max-width: $small-screen) {
                width: 65px;
                height: 98px;
            }
        }
    }
}

.friendship {
    max-height: 115px;
    overflow: auto;

    div {
        display: inline-block;
        margin: 7px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }
    }
}

.friendships {
    margin-top: 25px;

    div h4 {
        display: inline-block;
        margin: 11px 0;
    }
}

.following {
    @media screen and (max-width: $medium-screen) {
        margin-top: 30px;
    }
}

fieldset {
  border: 1px solid #DDD;
  padding: 5px 15px;
  margin: 0 0 20px 0;
  width: auto;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  width: auto;
  border-bottom: 0;
  margin-bottom: 8px;
  color: $brand-primary;
}

.search {
    padding: 0 15px;

    input {
        margin-top: 10px;
    }
}

.dropdown-menu {
    background: $purple;

    li {
        width: 100%;
        a {
            color: $white !important;

            &:hover, &:focus {
                text-decoration: none;
                color: $white;
                background-color: $light-pink;
            }
        }
    }
}

.dropdown {
    a {
        font-size: 16px;
    }
    span {
        color: $white;
    }
}

.navbar-header a {
    font-size: 26px;
    &:hover {
        color: $light-purple;
    }
}

.nav.navbar-nav li a {
    font-size: 16px;

    i {
        color: $white;
        font-size: 19px;
        &:hover {
            color: $light-purple;
        }
    }

    span {
        display: none;

        @media screen and (max-width: $mobile-screen) {
            display: inline;
        }
    }
}

.navbar-default {
    background-color: $purple;
    border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: $white;
    &:hover {
        color: $light-purple;
    }
}

.navbar-default .navbar-nav > .open > a {
    background-color: $light-purple;

    &:hover, &:focus {
        background-color: $light-pink;
    }
}

.navbar-nav > li > .dropdown-menu {
    background: $purple;
    border: 0;

    li a {
        color: $white;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
}

.admin-panel {
    .btn {
        min-width: 130px;
        margin: 10px 0;
    }
}

.show-admin-actions {
    display: inline-block;

    .btn {
        min-width: 130px;
        margin: 10px 0;
    }
}

.page-header {
    margin: 0 0 22px;
}