
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
$pink: #dc458f;
$light-pink:#c56393;
$gray: #636b6f;
$purple: #a053e3;
$dark-purple: #876990;
$light-purple: #bba6ce;
$pale-purple: #9e8baf;
$light-gray: #eee;
$white: #fff;
$black: #333;
$pale-black: #504d4d;
$small-screen: 485px;
$average-screen: 560px;
$medium-screen: 760px;
$mobile-screen: 768px;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    color: $brand-primary;
    background-color: $white;
}

a {
    color: $light-pink;

    &:hover {
        color: $pink;
        text-decoration: none;
    }
}

h3 {
    margin-top: 15px;
}

small {
    color: $brand-primary !important;
}

.nav-pills > li.active > a {
    background-color: $brand-primary;
    
    &:hover, &:focus {
        background-color: $brand-primary;
    }
}

.panel-default > .panel-heading {
    color: $brand-primary;
}

.poster img, 
.profile img {
    width: 120px;
    float: left;
    margin-right: 25px;
}

.showInfo {
    text-align: justify;
    p:first-child {
        font-size: 25px;
        font-weight: bold;
    }
}

.unavailable {
    filter: grayscale(100%);
}

.favorites a, .favorites a:hover {
    text-decoration: none;
    color: $brand-primary;
}

.fa-heart, .fa-heart-o:hover, .fa-meh-o, .fa-smile-o {
    color: $pink;
}

.fa-heart:hover {
    color: $brand-primary;
}

.fa-ban {
    color: #d83333;
}

.fa-star {
    color: #ffb500;
}

.fa-frown-o, .fa-meh-o, .fa-smile-o {
    font-size: 15px;
}

.star {
    display: inline-block;
    padding: 0 2px;
    font-size: 15px;
    color: #ABABAB;
    transition: color .2s ease-out;

    &:hover {
        cursor: pointer;
        color: #FFD700;
    }
}

.is-selected {
    color: #FFD700;
}

.radioStar {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.disabledStar {
    pointer-events: none;
    cursor: default;
}

.episodeDetail {
    img {
        width: 200px;
        height: 112px;
        object-fit: cover;
    }

    div:nth-child(2) {
        text-align: justify;
    }
}

.nm {
    margin: 0 !important;
}

.np {
    padding: 0 !important;
}

.np-l {
    padding-left: 0 !important;
}

.np-r {
    padding-right: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.page-wrap {
    margin: 0 15px;
    padding: 0 15px;
}

.modal-title {
    display: inline-block;
}

.text-right { 
    text-align: right;
}

.text-left { 
    text-align: left;
}

.hideMobile {
    @media screen and (max-width: $average-screen) {
        display: none;
    }
}

.opacity-1 {
    opacity: 1 !important;
    
    div {
        opacity: 1 !important;
    }
}

h4 {
  font-weight: bold;
}

.favoritesSlider {
    overflow: scroll;
    height: 160px;
    padding: 0 8px;

    div {
        display: inline-block;
        margin: 10px;
        @media screen and (max-width: $small-screen) {
            margin: 5px;
        }

        img {
            width: 100px;
            height: 150px;
            border-radius: 5px;

            @media screen and (max-width: $small-screen) {
                width: 65px;
                height: 98px;
            }
        }
    }
}

.friendship {
    max-height: 115px;
    overflow: auto;

    div {
        display: inline-block;
        margin: 7px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.friendships {
    margin-top: 25px;

    div h4 {
        display: inline-block;
        margin: 11px 0;
    }
}

.following {
    @media screen and (max-width: $medium-screen) {
        margin-top: 30px;
    }
}

fieldset {
  border: 1px solid #DDD;
  padding: 5px 15px;
  margin: 0 0 20px 0;
  width: auto;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  width: auto;
  border-bottom: 0;
  margin-bottom: 8px;
  color: $brand-primary;
}

.search {
    padding: 0 15px;

    input {
        margin-top: 10px;
    }
}

.dropdown-menu {
    background: $purple;

    li {
        width: 100%;
        a {
            color: $white !important;

            &:hover, &:focus {
                text-decoration: none;
                color: $white;
                background-color: $light-pink;
            }
        }
    }
}

.dropdown {
    a {
        font-size: 16px;
    }
    span {
        color: $white;
    }
}

.navbar-header a {
    font-size: 26px;
    &:hover {
        color: $light-purple;
    }
}

.nav.navbar-nav li a {
    font-size: 16px;

    i {
        color: $white;
        font-size: 19px;
        &:hover {
            color: $light-purple;
        }
    }

    span {
        display: none;

        @media screen and (max-width: $mobile-screen) {
            display: inline;
        }
    }
}

.navbar-default {
    background-color: $purple;
    border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: $white;
    &:hover {
        color: $light-purple;
    }
}

.navbar-default .navbar-nav > .open > a {
    background-color: $light-purple;

    &:hover, &:focus {
        background-color: $light-pink;
    }
}

.navbar-nav > li > .dropdown-menu {
    background: $purple;
    border: 0;

    li a {
        color: $white;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
}

.admin-panel {
    .btn {
        min-width: 130px;
        margin: 10px 0;
    }
}

.show-admin-actions {
    display: inline-block;

    .btn {
        min-width: 130px;
        margin: 10px 0;
    }
}

.page-header {
    margin: 0 0 22px;
}

ul {
    padding: 0 !important;

    li {
        display: inline-block;
    }
}

.discussion {
    margin-top: 40px;

    h3 {
        margin-bottom: 30px;
    }
}

.input {
    border: 1px solid $pale-purple;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
}

.comment-form {
    .form {
        margin-left: 80px;

        .form-row {
            margin-bottom: 25px;

            &:last-child { 
                margin-bottom: 0; 
            }
        }

        input[type=submit] {
            border: none;
            border-radius: 4px;
            color: $white;
            cursor: pointer;
            display: block;
            margin-left: auto;
            padding: 6px 15px;
        }
    }
}

.comment-form,
.comment {
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-form .comment-avatar,
.comment .comment-avatar {
  border-radius: 50%;
  width: 65px;
  height: auto;
  overflow: hidden;
  position: absolute;
}

.comment-form .comment-avatar img,
.comment .comment-avatar img{
  display: block;
  height: auto;
  width: 100%;
}

.reply {
    background: $pale-purple;
    padding: 15px;
}

.comment {
    .comment-box{
        background-color: $white;
        border-radius: 4px;
        margin-left: 65px;
        min-height: 60px;
        position: relative;
        padding: 8px 15px;

        &:after, &:before {
            border-width: 10px 10px 10px 0;
            border-style: solid;
            border-color: transparent #FCFCFC;
            content: '';
            left: -10px;
            position: absolute;
            top: 20px;
        }

        &:before {
            border-color: transparent rgba(0, 0, 0, .05);
            top: 22px;
        }
    }     
}

.comment-actions {
    list-style: none;
    list-style-type: none;
    display: inline !important;

    li {
        cursor: pointer;
        display: block;
    }
}

.comment-reply {
    padding-left: 80px;
    margin: 20px 0;
}

.reply-actions {
    span {
        cursor: pointer;
        span {
            color: $white;
        }
    }
}

.nav-tabs > li > a {
    border: 1px solid $light-gray;
}

.nav-link.active {
    background: $light-purple;
    color: $light-pink;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: $light-purple;
}

.tabs div {
    margin-bottom: 10px;
}

.nav-pills {
    border-bottom: 1px solid $dark-purple;
    margin-bottom: 20px;
    
    > li > a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
            color: $light-purple !important;
        }
    }
    > li.active > a {
        background-color: $dark-purple;
        color: $light-purple;
    }
}

.chat-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.chat {
    background: #bba6ce;
    width: 300px;
    height: calc(100vh - 275px);
    padding: 0 15px;
    margin: 0 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.chat-list {
    max-height: 115px;
    overflow: auto;

    div {
        display: inline-block;
        margin: 7px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}

.sender {
    position: relative;
    bottom: -15px;
    width: 95%;
}

.messages-wrapper {
    height: 100%;
}

.messages {
    height: calc(100% - 170px);
    overflow: auto;
}

.user-header {
    background: $pale-purple;
    padding: 5px 0;
    margin-bottom: 10px;

    div {
        img {
            width: 25px;
            border-radius: 25px;
        }
        span {
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.speech-bubble-user {
	position: relative;
	background: $light-pink;
    border-radius: .4em;
    margin-bottom: 10px;
    display: block;
    width: 95%;
    padding: 10px;
    color: $black;
}

.speech-bubble-user:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: $light-pink;
	border-right: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-right: -10px;
}

.speech-bubble-friend {
	position: relative;
	background: $dark-purple;
    border-radius: .4em;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
    width: 95%;
    padding: 10px;
    color: $black;
}

.speech-bubble-friend:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: $dark-purple;
	border-left: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-left: -10px;
}

.chat-date {
    font-size: 11px;
    margin: 0;
    text-align: right;
    color: $pale-black;
}

.minimize_chat {
    height: 35px;
    overflow: hidden;
}

.chat-individual {
    position: relative;
    bottom: 0;
    overflow: auto;
    display: inline-block;
}